@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gábor Görzsöny</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
	<base target="_blank">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="container">
	<section>
		<div class="center">
			<div class="row justify-content-center">
				<div class="col mb-5 text-center reveal">
					<h1 class="hello">Hello</h1>
				</div>
			</div>
			<div class="row mb-5 justify-content-center reveal">
				<div class="col-md-6 text-left text-md-right border-right border-danger">
					<h2 class="text-danger">Personal</h2>
					<p>My name is <strong>Gábor</strong>, but you may also know me as <strong>Razzie</strong> from the internets. I'm pretty much comfortable with both names.</p>
					<p>My friends know me as a calm and rather observing kind of person. Unless someone hits one of my favorite topics, then I become excited and competitive.</p>
					<p>Since my childhood I'm passionate about programming, especially about computer games and networks. I strive to combine the two.</p>
					<p>I love developing ideas over time and then throwing them away later. One always finds me tinkering with my latest and greatest pet project. You may find a few of them below.</p>
					<p>Psychological and emotional well-being along with self-education are crucial to me and I always find time to include them in my life. I've also took part in a 6 month Mastermind program.</p>
					<p>I value freedom and creativity over anything else in life, but comfort comes close.</p>
				</div>
				<div class="col-md-6 text-left border-left border-danger">
					<h2 class="text-danger">Professional</h2>
					<p>For most of my professional career I've been working for large companies and my duties ranged from working on embedded system and desktop application to web frontend and backend development.</p>
					<p>There is also a significant amount of time I've spend working on a private project at home that was worthy of my time and savings.</p>
					<p>Based on nearly 10 years of autodidact and professional experience I consider myself an <strong>expert of modern C++.</strong></p>
					<p>Other languages and technologies like C, C# (for both desktop apps and web), OpenGL and GLSL, PHP, HTML + CSS and Git are not new to me.</p>
					<p>I prefer using Windows, but I'm comfortable with modern Linux distributions even if restricted to console access.</p>
					<p>I have a Bachelor degree in Computer Science and specialization in Computer Networks.</p>
				</div>
			</div>
		</div>
	</section>
	@if (Model.GithubProjects != null)
	{
	<section>
		<div class="scroll-down reveal"></div>
		<div class="row justify-content-center">
			<div class="col m-5 text-center reveal">
				<h1>Public work</h1>
				<small>(randomly selected)</small>
			</div>
		</div>
		<div class="row">
		@foreach (var repo in Model.GithubProjects)
		{
			@if (!repo.HasEnoughCommits) continue;

			<div class="col-md-6 mb-5 text-left reveal">
				<div>[@repo.Owner] <a href="@repo.Url">@repo.Name</a></div>
				<div>@repo.Description</div>
				<div><ul>
				@foreach (var commit in repo.TopCommits(5))
				{
					<li><span class="text-danger">[@commit.CommitID]</span> @commit.CommitMessage - @commit.User (@commit.Date)</li>
				}
				</ul></div>
			</div>
		}
		</div>
	</section>
	}
	@if (Model.GithubStars != null)
	{
	<section>
		<div class="scroll-down reveal"></div>
		<div class="row justify-content-center">
			<div class="col m-5 text-center reveal">
				<h1>Awesome projects I follow</h1>
				<small>(randomly selected)</small>
			</div>
		</div>
		<div class="row">
		@foreach (var repo in Model.GithubStars)
		{
			<div class="col-md-6 mb-5 text-left reveal">
				<div>[@repo.Owner] <a href="@repo.Url">@repo.Name</a></div>
				<div>@repo.Description</div>
				<div><ul>
				@foreach (var commit in repo.TopCommits(3))
				{
					<li><span class="text-danger">[@commit.CommitID]</span> @commit.CommitMessage - @commit.User (@commit.Date)</li>
				}
				</ul></div>
			</div>
		}
		</div>
	</section>
	}
	<section>
		<div class="scroll-down reveal"></div>
		<div class="row justify-content-center">
			<div class="col m-5 text-center reveal">
				<h1>Favorite projects</h1>
			</div>
		</div>
		<div class="row">
		@foreach (var item in Model.FavoriteProjects)
		{
			<div class="col-md-6 mb-5 text-left reveal">
				<img src="@item.ImageUrl" class="img-fluid" />
				<h3 class="text-danger">@item.Name</h3>
				<p>@Html.Raw(item.Description)</p>
			</div>
		}
		</div>
	</section>
	<footer class="text-center reveal">
		<div class="scroll-up"></div>
		<small>Gábor Görzsöny</small>
	</footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/tilt.jquery.min.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>